<div class="table-container">
    <table class="table">
        <thead>
            <th>id</th>
            <th>book_id</th>
            <th>section_id</th>
            <th>name</th>
            <th>exercise</th>
        </thead>
        <tbody>
            {{#each exercises}}
                <tr>
                    <th>{{this.id}}</th>
                    <th>{{this.book_id}}</th>
                    <th>{{this.section_id}}</th>
                    <th>{{this.name}}</th>
                    <th>{{this.exercise}}</th>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
